{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block navbar %}
<a href="{% url 'index' %}" class="nav-link"   style="color: white;">Home</a>
{% if request.user ==  gallery.author or perms.webapp.delete_gallery%}
    <a href="{% url 'gallery_delit' gallery.pk%}" class="nav-link"  style="color: white;">Delete</a>
    <a href="{% url 'gallery_update' gallery.pk%}" class="nav-link"  style="color: white;">Update</a>
{% endif %}
{% endblock %}
{% block content %}
     <img src="{{ gallery.photo.url }}" width="1000" height="600" alt="">
    <h2>{{gallery.signature}}</h2>
{% endblock %}