{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% for pos in posts_view %}
<div class="card" style="margin-top: 25px">
    <div class="card-body">
        <img src="{{ pos.photo.url }}" width="1000" height="600" alt="">
        <h5>Автор - {{ pos.author }}</h5>
        <h5>Подпись - {{ pos.signature }}</h5>
        <h5>Время создания - {{ pos.created_at }}</h5>
        <a href="{% url 'detail_view' pos.pk%}" class="btn btn-primary">Task detail info</a>
        {% if user.is_authenticated %}
        <button svg="{% url 'favorites' pos.pk%}" class="btn btn-primary" id="favorites">Add favorites</button>
        <p id="pos_pk" style="display: none;">{{pos.pk}}</p>
        {% endif %}
    </div>
</div>

{% endfor %}

<script>


let pk = document.querySelector('#pos_pk')
const favorites = document.getElementById(`favorites`)

let favoritesClick = function(){
        let xhr = new XMLHttpRequest(); 
        xhr.onload = function(){
                console.log(status)
            
                if(favorites.innerHTML === 'Add favorites'){
                    favorites.innerHTML = 'Remoov favorites'
                }
                else if(favorites.innerHTML === 'Remoov favorites'){
                    favorites.innerHTML = 'Add favorites'
                }
            };
        xhr.open('POST', `http://127.0.0.1:8000/api/favorites/${pk.innerHTML}`);
        send = {
            "A": pk.innerHTML,
        }
        xhr.send(JSON.stringify(send))
    }


favorites.forEach(addEventListener('click', favoritesClick))


</script>
{% endblock %}
